#editor {
  .ql-toolbar {
    border-radius: 6px 6px 0 0;
    background-color: #f2f2f2;
  }

  .ql-editor {
    height: 388px;
  }

  .ql-container {
    border-radius: 0 0 6px 6px;
    font-size: 1.6rem;
  }
}
