.notice-write-container {
  width: 800px;
  margin: 0 auto;
  padding: 60px 0px 64px;
  .notice-heading {
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 24px;
  }

  .button-box {
    margin-top: 16px;
  }
}
